body {
	font-family: 'Open Sans', sans-serif;
	background-color: hsl(180, 22%, 90%);
	width: 68.5%;
}

/* nav styles */
nav {
	background-color: hsl(180, 20%, 55%);
	color: hsl(180, 22% 70%);
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
}

nav ul li {
	display: inline;
}

/* header formatting */
h1 {
	background-image: linear-gradient(to bottom right, rgb(239, 245, 245), rgb(98, 157, 157));
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 5px;
}

h2 {
	padding: 10px;
}

h3 {
	padding: 10px;
}

/* lists */
li {
	padding: 10px;
}

li a {
	text-decoration: none;
}

li a:hover {
	color: #8585ad;
}

a {
	color: rgb(31, 31, 46);
	text-decoration: none;
}

/* articles and regular text */
article{
	background-color: #ccccb3;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

p {
	margin: 10px 3px 10px 3px;
}

/* table formatting */
table {
	border: solid darkgray 2px;
	border-radius: 5px;
	margin: 5px;
}

th {
	border: solid 3px;
	border-radius: 5px;
}

tr {
	border: dotted 2px;
}

/* footer stuff */
footer {
	display: inline;
}

address {
	background-color: hsl(180, 20%, 55%);
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

#copyright {
	margin: 10px;
	font-size: small;
	font-weight: 100;
}

.listicle {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* sidebar stuff */
.sidebar {
	height: 90%;
	width: 30%;
	position: fixed;
	z-index: 0; /* always stays on top */
	top: 0;
	right: 12px;
	background-color: #666699;
	border-radius: 5px;
}

sidebar img {
	width: 30%;
	border-radius: 5px;
	/* opacity: 30%; not a PNG, yo.*/
}


input {
	margin: 10px;
}

.main-body {
	width: 100%;
}

.sensaphonics {
	background-color: teal;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

.options {
	margin: 10px;
}

.input-field {
	margin: 10px;
}